<div class="container space-header overtable">
    <h3>Plan Test Execution</h3>
    <select #mySelectCycle (change)="selectCycle(mySelectCycle.value)">
        <option value="1" [selected]="cycleSelected == '1'">Test Execution Cycle 1</option>
        <option value="2" [selected]="cycleSelected == '2'">Test Execution Cycle 2</option>
        <option value="3" [selected]="cycleSelected == '3'">Test Execution Cycle 3</option>
    </select>
    <h3>Test Execution Cycle {{cycleSelected}}</h3>
    <table class="table table-bordered setFontSize overtable">
        <thead>
            <tr class="setheader">
                <th>Test Case ID</th> 
                <th class="minwidtharea">Test Case Description</th> 
                <th>Plan Date From</th> 
                <th>Plan Date To</th> 
                <th>Actual Date From</th> 
                <th>Actual Date To</th> 
                <th>Assign To</th> 
                <th>Status</th> 
                <th>Test Execution(%)</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detailTestcaseCycle of mergeData">
                <ng-container *ngIf="detailTestcaseCycle.TCID != ''">
                    <td>
                        <input type="text" value="TC_000{{detailTestcaseCycle.TCID}}" readonly>
                    </td>
                    <td>
                        <textarea rows="4" value="{{detailTestcaseCycle.TCDes}}" readonly></textarea>
                    </td>
                    <ng-container *ngIf="'1' == cycleSelected">
                        <td>
                            <input #mySelectTCPDateFrom1 type="date" value="{{detailTestcaseCycle.Cycle1[0].TEPdatefrom}}" (change)="selectPDateFrom(detailTestcaseCycle.idTC,mySelectTCPDateFrom1.value)">
                        </td>
                        <td>
                            <input #mySelectTCPDateTo1 type="date" value="{{detailTestcaseCycle.Cycle1[0].TEPdateto}}" (change)="selectPDateTo(detailTestcaseCycle.idTC,mySelectTCPDateTo1.value)">
                        </td>
                        <td>
                            <input #mySelectTCADateFrom1 type="date" value="{{detailTestcaseCycle.Cycle1[0].TEAdatefrom}}" (change)="selectADateFrom(detailTestcaseCycle.idTC,mySelectTCADateFrom1.value)">
                        </td>
                        <td>
                            <input #mySelectTCADateTo1 type="date" value="{{detailTestcaseCycle.Cycle1[0].TEAdateto}}" (change)="selectADateTo(detailTestcaseCycle.idTC,mySelectTCADateTo1.value)">
                        </td>
                        <td>
                            <select #mySelectTCAssignto1 (change)="selectAssignto(detailTestcaseCycle.idTC,mySelectTCAssignto1.value)">
                                <ng-container *ngIf="detailTestcaseCycle.Cycle1[0].TEAssignto==''">
                                    <option value="" [selected]="detailTestcaseCycle.Cycle1[0].TEAssignto==''">-- Select Assign to --</option>
                                </ng-container>
                                <option *ngFor="let User of userData" value="{{User.idU}}" [selected]="detailTestcaseCycle.Cycle1[0].TEAssignto==User.idU">{{User.UName}}</option>
                            </select>
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle1 == 0">
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle1 == 1">
                            <input type="text" value="Passed" readonly>
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle1 == 2">
                            <input type="text" value="Failed" readonly>
                        </td>
                        <td>
                            <input type="text" value="{{detailTestcaseCycle.percentCycle1}}%" readonly>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="'2' == cycleSelected">
                        <td>
                            <input #mySelectTCPDateFrom2 type="date" value="{{detailTestcaseCycle.Cycle2[0].TEPdatefrom}}" (change)="selectPDateFrom(detailTestcaseCycle.idTC,mySelectTCPDateFrom2.value)">
                        </td>
                        <td>
                            <input #mySelectTCPDateTo2 type="date" value="{{detailTestcaseCycle.Cycle2[0].TEPdateto}}" (change)="selectPDateTo(detailTestcaseCycle.idTC,mySelectTCPDateTo2.value)">
                        </td>
                        <td>
                            <input #mySelectTCADateFrom2 type="date" value="{{detailTestcaseCycle.Cycle2[0].TEAdatefrom}}" (change)="selectADateFrom(detailTestcaseCycle.idTC,mySelectTCADateFrom2.value)">
                        </td>
                        <td>
                            <input #mySelectTCADateTo2 type="date" value="{{detailTestcaseCycle.Cycle2[0].TEAdateto}}" (change)="selectADateTo(detailTestcaseCycle.idTC,mySelectTCADateTo2.value)">
                        </td>
                        <td>
                            <select #mySelectTCAssignto2 (change)="selectAssignto(detailTestcaseCycle.idTC,mySelectTCAssignto2.value)">
                                <option value="" [selected]="detailTestcaseCycle.Cycle2[0].TEAssignto==''">-- Select Assign to --</option>
                                <option *ngFor="let User of userData" value="{{User.idU}}" [selected]="detailTestcaseCycle.Cycle2[0].TEAssignto==User.idU">{{User.UName}}</option>
                            </select>
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle2 == 0">
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle2 == 1">
                            <input type="text" value="Passed" readonly>
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle2 == 2">
                            <input type="text" value="Failed" readonly>
                        </td>
                        <td>
                            <input type="text" value="{{detailTestcaseCycle.percentCycle2}}%" readonly>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="'3' == cycleSelected">
                        <td>
                            <input #mySelectTCPDateFrom3 type="date" value="{{detailTestcaseCycle.Cycle3[0].TEPdatefrom}}" (change)="selectPDateFrom(detailTestcaseCycle.idTC,mySelectTCPDateFrom3.value)">
                        </td>
                        <td>
                            <input #mySelectTCPDateTo3 type="date" value="{{detailTestcaseCycle.Cycle3[0].TEPdateto}}" (change)="selectPDateTo(detailTestcaseCycle.idTC,mySelectTCPDateTo3.value)">
                        </td>
                        <td>
                            <input #mySelectTCADateFrom3 type="date" value="{{detailTestcaseCycle.Cycle3[0].TEAdatefrom}}" (change)="selectADateFrom(detailTestcaseCycle.idTC,mySelectTCADateFrom3.value)">
                        </td>
                        <td>
                            <input #mySelectTCADateTo3 type="date" value="{{detailTestcaseCycle.Cycle3[0].TEAdateto}}" (change)="selectADateTo(detailTestcaseCycle.idTC,mySelectTCADateTo3.value)">
                        </td>
                        <td>
                            <select #mySelectTCAssignto3 (change)="selectAssignto(detailTestcaseCycle.idTC,mySelectTCAssignto3.value)">
                                <option value="" [selected]="detailTestcaseCycle.Cycle3[0].TEAssignto==''">-- Select Assign to --</option>
                                <option *ngFor="let User of userData" value="{{User.idU}}" [selected]="detailTestcaseCycle.Cycle3[0].TEAssignto==User.idU">{{User.UName}}</option>
                            </select>
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle3 == 0">
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle3 == 1">
                            <input type="text" value="Passed" readonly>
                        </td>
                        <td *ngIf="detailTestcaseCycle.statusCycle3 == 2">
                            <input type="text" value="Failed" readonly>
                        </td>
                        <td>
                            <input type="text" value="{{detailTestcaseCycle.percentCycle3}}%" readonly>
                        </td>
                    </ng-container>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
