<h2 mat-dialog-title>Add Screen Design</h2>
    <div style="text-align:center">
        <img src="{{imgSelectScreen}}" style="width:100%; height:auto;">
    </div>
    <form [formGroup]="addScreenForm">
        <div class="form-group">
            <label for="valBRFR">Business Requirement ID - Functional Requrement ID</label>
            <input class="form-control" formControlName="valBRFR" type="text" readonly value="">
        </div>
        <div class="form-group">
            <label for="valScreenID">Screen Design ID</label>
            <select class="form-control" formControlName="valScreenID" #mySelectSC (change)="selectSC(mySelectSC.value)">
                <option value="">-- Select ScreenID --</option>
                <option *ngFor="let SC of listSCSelect" value="{{SC}}">SC_000{{SC}}</option>
                <option value="{{ScreenPlusData}}">SC_000{{ScreenPlusData}}</option>
            </select>
        </div>
        <div *ngIf='foundUrlStatus==false'>
            <label for="valScreenURL">Upload Screen Design Image</label>
            <input type="file" class="form-control" formControlName="valScreenURL" value="" accept="image/gif, image/jpeg, image/png" #uploadImg (change)="showUploadImg(uploadImg.files)">
        </div>
        <div class="form-group">
            <label for="valScreenDes">Screen Design Description</label>
            <textarea class="form-control" formControlName="valScreenDes" rows="4" value=""></textarea>
        </div>
        <button class="button" (click)="save(addScreenForm.value)" class="btn btn-default">Save</button>
        <button class="button" (click)="close()" class="btn btn-default">Close</button>
    </form>
